/* onlinedemo */

.con{
	width:838px;height:auto; overflow:hidden
}
.con-left{
	width:184px;height:auto;float:left;
}
.con-left-nav{
	width:174px;height:auto;margin:10px auto;
}
.con-left-nav a.item{
	display:block;
	width:170px;height:28px;line-height:28px;border:2px solid #FFF;
	text-indent:24px;color:#626262;text-decoration:none;font-weight:bold;
	background:url('../img/icons.gif') 0px -120px no-repeat;
}
.con-left-nav a.item:hover{
	border:2px solid #669ced; color:#669ced;
	background:url('../img/icons.gif') 0px -80px no-repeat;
}
.con-right{
	width:653px;height:atuo;float:left;border-left:1px solid #E5E5E5;
}
.con-right-con{
	width:820px;height:atuo;margin:10px auto;color:#757474;padding: 0 auto;
}

.mypre{
    white-space: pre-wrap;
    *white-space: pre;
    *word-wrap: break-word;
}

